* {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
	width: 60%;
	margin: 0 auto;
}
.zingchart {
	width: 500px;
	height: 300px;	
}
pre {
	padding: 15px;
	background-color: #E8E8E8;
	font-family: 'Monaco', Courier, monospace;
}

code {
	background-color: #E8E8E8;
	font-family: 'Monaco', Courier, monospace;
	font-size: 14px;
	font-style: normal;
	padding: 2px;
	margin: 2px;
	display: inline-block;
}

h1 {
	margin-top: 50px;
}
button {
	padding: 8px 10px;
	margin: 10px 2px;
	font-size: 14px;
	border-radius: 4px;
	background-color: #00baf0; /*#359AF2;*/
	border: none;
	color: #FFF;
}
button:hover {
	cursor: pointer;
	background-color: #2BD1FF; /*#308AD9;*/
}